* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000000;
}

#Page_content {
  display: flex;
  flex-direction: row;
}

#ProjectContainer {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5), #e9e9e900);
  width: 100%;
  display: grid;

  /* responsive columns with fixed width */
  grid-template-columns: repeat(auto-fill, 280px);

  row-gap: 20px;
  column-gap: 20px;

  justify-content: center; /* centers the grid horizontally */
  align-content: start;

  margin: 0 auto;
  padding: 20px;
}



.ProjectTitle {
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  position: absolute;
  z-index: 3;
  bottom: 3%;
  left: 3%;
}

#ProjectDisplay {
  background-color: brown;
  height: 100%;
  width: 50%;
}

.ProjectSlot {
  position: relative;
  width: minmax(80px,17vw);
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  
}

.ProjectSlot:hover{
  transform: scale(1.07);
  z-index: 1000;
  transition: all 0.2s ease-in-out ;
  box-shadow: 0 6px 20px rgba(2,6,23,0.45);
}

.ProjectSlot:hover .ProjectImage{
  transform: scale(1.05);
  transition: transform 1.5s ease-in-out;
}
.ProjectSlot:hover .frosted {
  backdrop-filter: blur(0) saturate(100%);
  -webkit-backdrop-filter: blur(0) saturate(100%);
  transition: all 1s ease-in-out ;
}

.ProjectImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out ;
}

#Content-Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.SkillTag {
  font-size: 18px;
  font-weight: bold;
  height: 10px;
  width: fit-content;
  min-width: 50px;
  background-color: rgb(146, 199, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  outline: 1px solid black;
}

#SkilltagHolder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  column-gap: 5px;
  width: fit-content;
}

.frosted {
  width: 280px;
  height:180px;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  pointer-events: none;

  /* translucent panel */
  background: rgba(255,255,255,0.12); /* light glass; use rgba(0,0,0,0.12) for dark) */

  /* the magic: blur the stuff behind the element */
  backdrop-filter: blur(6px) saturate(120%);
  -webkit-backdrop-filter: blur(6px) saturate(120%);

  /* thin border + subtle shadow for depth */
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0 6px 20px rgba(2,6,23,0.45);
  color: #fff;
   transition: all 1s ease-in-out ;
}